.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 216px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 31px;
  min-width: 16px;
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}