 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Mahdee_Shomoy_combine_abc65d3b-dad6-4e80-8372-60f5ac2d5538.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1602px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 299px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 621px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  margin: 16px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 284px;
  }

  .u-section-1 .u-text-2 {
    width: 450px;
    margin-right: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 25px;
    margin-right: 201px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 327px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 287px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 225px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px auto 0;
}

.u-section-2 .u-form-1 {
  height: 107px;
  width: 570px;
  margin: 0 auto 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 213px;
  }

  .u-section-2 .u-form-1 {
    margin-bottom: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-2 .u-form-1 {
    height: 203px;
    margin-top: -8px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("images/pokemon_album_art_song_name_is_you_make_me_feel_like_im_in_spac_b0cdca4e-239d-43f7-a8d6-7dd5529da159.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 527px;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 24px auto 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 15px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-video-1 {
    margin-top: 30px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-3 .u-video-1 {
    height: 191px;
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 363px;
}

.u-section-4 .u-text-1 {
  margin: 35px 420px 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 7px 0 0 471px;
}

.u-section-4 .u-text-3 {
  background-image: none;
  margin: -252px 705px 60px 81px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-right: auto;
    margin-left: 344px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 197px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-4 .u-text-3 {
    margin: 15px 15px 42px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
} .u-section-5 {
  background-image: url("images/PumaBlue_solar_system_entangled_in_vines_and_plants_b24fafb8-ab25-4d41-bd35-fd346380900e.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 492px;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 359px;
  width: 90%;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }
}